/* Old desktop */
@media (min-width: 1292px) and (max-width: 1400px) {
    .link {
        font-size: 20px;
    }
    .apIndex, .contactButton {
        font-size: 18px;
    }
    #numberLabel {
        font-size: 16px;
    }
    .genPhoto {
        margin-top: 100px;
    }
}


/* Phone */
@media (max-width: 1291px) {
    .intro {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 20px;
    }
    .contactItem, .numberDiv, .more, .contentWrapper, .genPhoto {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .contactItem {
        margin-bottom: 40px;
    }
    .navWrapper {
        width: 100%;
    }
    .nav2 {
        margin-top: 40px;
    }
    #secondNav {
        margin-top: 150px;
    }
    .contactButton {
        width: 250px;
        border-radius: 10px;
    }
    #moreButton {
        width: 136px;
    }
    .genPhoto {
        margin-top: 20px;
    }
    .bannerCopy {
        top: 20px;
    }
}
@media (min-width: 769px) and (max-width: 1291px) {
    #name {
        font-weight: bold;
        font-size: 150px;
    }
    .link {
        font-size: 40px;
    }
    .apIndex, .contactButton {
        font-size: 36px;
    }
    #numberLabel {
        font-size: 32px;
    }
    #moreButton {
        font-size: 40px;
        width: 250px;
    }
    .copyWrap {
        font-size: 40px;
        font-weight: bold;
    }
}
@media (max-width: 768px) {
    .link {
        font-size: 20px;
    }
    .apIndex, .contactButton {
        font-size: 18px;
    }
    #numberLabel {
        font-size: 14px;
    }
    #name {
        font-weight: bold;
        font-size: 120px;
    }
}


/*!* Tablet *!*/
/*@media (min-width: 769px) and (max-width: 1280px) {*/
/*    .genPhoto {*/
/*        margin-top: 120px;*/
/*    }*/
/*}*/
/*@media (max-width: 1280px) {*/
/*    .link {*/
/*        font-size: 16px;*/
/*    }*/
/*    .apIndex, .contactButton {*/
/*        font-size: 12px;*/
/*    }*/
/*    #numberLabel {*/
/*        font-size: 10px;*/
/*    }*/
/*    .navWrapper {*/
/*        width: 66%;*/
/*    }*/
/*    .contentWrapper {*/
/*        width: 34%;*/
/*    }*/
/*}*/

