:root {
    --main-color: #EBEBEB;
    --second-color: #c3c4c4;
    --third-color: #c4afa4;
}

body {
    font-family: 'Space Grotesk', sans-serif;
    width: 100%;
    margin: 0;
    background-color: var(--main-color);
    overflow-y: scroll;
    -ms-overflow-y: scroll;
}

.wholePageWrapper {
    margin: 20px;
}

.intro {
    display: flex;
}

.flex {
    display: flex;
}

/* burger */
.burgerMenu {
    cursor: pointer;
    margin-top: 20px;
}

.burgerMenu:hover {
    transform: scale(0.9, 0.9);
}

.bar {
    width: 30px;
    height: 3px;
    background-color: #000;
    margin: 6px 0;
}

/* navigation */
.navWrapper {
    width: 50%;

    position: relative;
    top: 0;
    bottom: 0;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.nav, .aboutWrap {
    display: flex;
    flex-direction: column;
    align-items: end;

    margin-bottom: auto;
    margin-top: auto;
}

.nav, .nav2 {
    min-width: 70%;
}

.navItem {
    margin-bottom: 10%;
    text-align: end;
}

#name {
    font-weight: bold;
    font-size: 70px;
}

.link {
    text-decoration: none;
    font-size: 25px;
    color: black;
    position: relative;
}

.link::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    background: black;
    bottom: 0;
    left: 0;
    transform: scaleX(0);
    transform-origin: bottom right;
    transition: transform 0.3s ease;
}

.link:hover::before {
    transform: scaleX(1);
    transform-origin: bottom left;
}

/* Content */
.contentWrapper {
    margin: 10px;
    max-height: 95%;
    width: 45%;
    display: flex;
    justify-content: space-between;

    overflow-y: hidden;

    position: fixed;
    right: 10px;
}

.genPhoto {
    margin-top: 50px;
}

#generalPhoto {
    width: 70%;
}


/* contacts */
.contacts {
    display: flex;
    flex-direction: column;
    width: 100%;

    margin-top: 200px;
}

.contactItem {
    display: flex;
    justify-content: space-between;
    align-items: center;

    margin: 8px 0;
}

.apIndex, .contactItem {
    color: black;
    text-decoration: none;
}

.apIndex {
    font-weight: bold;
    font-size: 20px;
    margin: 0 0 3px 0;
}

#numberLabel {
    font-size: 15px;
}

.contactButton {
    padding: 5px 8px;

    width: 120px;

    font-size: 20px;

    background-color: var(--second-color);
    color: black;
    border: solid 2px black;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;

    border-radius: 5px;
    transition: background-color 0.3s, color 0.3s;
}

.contactButton:hover {
    background-color: var(--third-color);
    color: black;
}


.button-28 {
    width: 200px;
    height: max-content;
}
.button-28, #moreButton {
    appearance: none;
    background-color: transparent;
    border: 2px solid #1A1A1A;
    border-radius: 15px;
    box-sizing: border-box;
    color: #3B3B3B;
    cursor: pointer;
    display: inline-block;
    font-size: 16px;
    margin: 0;
    padding: 5px 5px;
    text-align: center;
    text-decoration: none;
    transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    will-change: transform;
}

.button-28:disabled, #moreButton:disabled {
    pointer-events: none;
}

.button-28:hover, #moreButton:hover {
    color: #fff;
    background-color: #1A1A1A;
    box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
    transform: translateY(-2px);
}

.button-28:active, #moreButton:active {
    box-shadow: none;
    transform: translateY(0);
}


#moreButton {
    cursor: pointer;

    border: black solid 2px;
    border-radius: 8px;

    margin: 15px 0;

    display: flex;
    flex-direction: column;
    align-items: center;

    transition: background-color 0.3s, color 0.3s;
}

/*#moreButton:hover {*/
/*    background-color: var(--second-color);*/
/*}*/

/*#moreButton:active {*/
/*    background-color: var(--third-color);*/
/*}*/

#moreButton p {
    margin: 0;
}

.moreButtons {
    margin: 20px;
}

.moreHidden {
    display: flex;
    justify-content: space-between;
}

/* Banners */
.bannerCopy {
    position: fixed;
    bottom: 20px;
    z-index: 1000;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.copyWrap {
    width: 70%;
    padding: 20px 0;
    text-align: center;
    font-size: 20px;
    background-color: var(--second-color);
    border-radius: 5px;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.5s ease, visibility 0.5s ease;
}

.bannerCopyVisible .copyWrap {
    opacity: 1;
    visibility: visible;
}


section {
    display: none;
    scroll-margin-top: 10px;
}

section:target {
    display: block;
    animation: fadeIn 1s ease-in-out;
    scroll-margin-top: 0;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
